body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
.title-style {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color-dark);
}
:root {
  --main-color-dark: #111111;
  --main-color-white: #ffffff;
  --orange-color: #fd9222;
}
.container {
  width: 366px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*outline: 1px solid red;*/
}
.header {
  padding: 25px 20px 19px 20px;
}
.header-container {
  width: 100%;

  /* display: flex;
  padding-top: 26px;
  padding-bottom: 34px; */
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.mob-menu-svg {
  stroke: #111;
}
.mobile-menu-close {
  stroke: #111;
}
.open-menu-div {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #1e1823;
  padding: 20px 20px 20px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.close-menu-btn {
  display: block;
  margin-left: auto;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mobile-menu-close {
  stroke: #fff;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 136px;
}
.mob-menu-item {
}
.mob-menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.28px;
}
.mob-menu-link:focus,
.mob-menu-link:hover {
  color: var(--orange-color);
  transition: color 300ms ease-in-out;
}
.mob-soc-list {
  display: flex;
  gap: 18px;
}
.menu-list-soc-div {
  display: flex;
  flex-direction: column;
}
.header-soc-item {
}
.header-soc-link {
}
.header-insta {
  fill: #fff;
}
.header-twit {
  fill: #fff;
}
.header-logo-link {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  /* font-size: 18px; */
  line-height: 1.1;
  letter-spacing: -0.03em;
  color: var(--main-color-dark);

  align-items: center;
  /* margin-right: auto; */
}
.header-logo-link span {
  font-style: italic;
}
.header-menu-list {
  display: none;
  /* display: flex;
  gap: 24px;
  align-items: center; */
}
.header-menu-item {
}
.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--main-color-dark);
}
.header-soc-list {
  display: none;
  /* display: flex;
  max-width: 66px;
  gap: 21px;
  margin-left: 92px; */
}
.header-soc-item {
}
.header-soc-link {
}
.header-insta {
}
.header-twit {
}
/*---------Hero-----------*/
.hero-container {
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/mob-cover-cocoa-powder.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  /* width: 335px; */
  width: 100%;
  background-color: #fcf1e0;
  border-radius: 30px;
  padding: 395px 16px 21px 20px;
}

.hero-section {
  padding-bottom: 20px;
}

.hero-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.6px;
  color: var(--main-color-white);
  max-width: 299px;
  margin-bottom: 32px;
}
.hero-btns-div {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  align-items: center;
}
.hero-btn {
  padding: 12px 28px;
  background: #fd9222;
  border-radius: 100px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  cursor: pointer;
  margin-right: 14px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #fcf1e0;
  color: var(--orange-color);
  transition: background-color 300ms linear;
}
.hero-link-how {
  display: inline-block;
  padding: 12px 28px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  background-color: transparent;
}
.hero-link-how:hover,
.hero-link-how:focus {
  background-color: #fff;
  border-color: var(--orange-color);
  color: var(--orange-color);
  transition: background-color 300ms linear;
}
.hero-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-top: 32px;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 14px;
}
.hero-scroll:hover,
.hero-scroll:focus {
  background-color: #ffffff;
  color: var(--orange-color);
  transition: background-color 300ms linear;
  border-radius: 10px;
}
.hero-scroll span {
  display: block;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-svg {
  fill: #fd9222;
}
.scroll-span:hover {
  background-color: var(--orange-color);
}
.scroll-svg:hover {
  fill: #fff;
}
/*---------Benefits-----------*/
.benefits-section {
  width: 100%;
  background-color: #1e1823;
}
.benefits-div {
  width: 100%;

  padding: 20px;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-right: 18px;
  padding-left: 18px;
}
.benefits-item {
  width: 100%;
  position: relative;
}
.benefits-icon {
  fill: var(--orange-color);
}
.benefits-before {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 22px;
}
.benefits-item:not(:last-child):after {
  display: none;
}
.benefits-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin-bottom: 18px;
}
.benefits-text {
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 18px;
}
/*---------Products-----------*/
.products-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.products-div {
  width: 335px;
}
.products-title {
  font-size: 20px;
  width: 283px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.products-title span {
  color: var(--orange-color);
}
.products-text {
  width: 335px;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--main-color-dark);
  /* width: 486px; */
  margin: 0 auto;
  margin-bottom: 32px;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.products-item {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #fd9222;
  padding: 28px 55px 28px 28px;

  position: relative;
  overflow: hidden;
}
.products-item:nth-child(even) {
  background-color: #ffffff;
}
.products-item:nth-child(3) {
  background-color: #1e1823;
  border: none;
}
.products-item:first-child {
  background-color: var(--orange-color);
}
.products-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
  margin-top: 28px;
}
.products-subtitle.light {
  color: #ffffff;
}
.products-cover-div {
  background-color: #fff;
  border-radius: 15px;
  padding: 28px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms ease-in-out;
  transform: translateY(100%);
}
.products-cover-title {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  line-height: 1.22;
  margin-bottom: 8px;
}
.products-btn-list {
  display: flex;
  gap: 6px;
}

.products-btn-chocolate {
  padding: 6px 16px;
  border-radius: 35px;
  background-color: var(--orange-color);
  border: none;
  color: #fff;
  font-size: 10px;
  line-height: 1.2;
  cursor: pointer;
}

.products-btn-benefints {
  padding: 6px 16px;
  border-radius: 35px;
  border: 1px solid var(--orange-color);
  background: #fafafa;
  font-size: 10px;
  line-height: 1.2;
  cursor: pointer;
  color: #111;
}
.products-cover-text {
  color: #111;
  font-size: 14;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-top: 14px;
  width: 279px;
  height: 146px;
  overflow: auto;
}
.products-item:hover .products-cover-div {
  transform: translateY(0);
}

/*---------made-----------*/
.made-section {
}
.made-div {
  padding-bottom: 60px;
}
.made-title {
  font-size: 20px;
  margin-bottom: 32px;
}
.made-title span {
  color: var(--orange-color);
}
.made-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.made-text-wrap {
  padding: 20px 14px 20px 14px;
  border-radius: 15px;
  background-color: #fff;
}
.made-item::before {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: 1px solid #eceded;
  background-color: #4c4c4c;
  position: absolute;
  left: -16px;
  top: 5px;
}
.made-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--main-color-dark);
  margin-bottom: 28px;
  max-width: 350px;
}
.made-list {
  max-width: 452px;
  padding-left: 16px;
}
.made-item {
  margin-bottom: 24px;
  position: relative;
}
.made-item:last-child {
  margin-bottom: 0;
}
.made-list-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111111;
}
/*---------loved-----------*/
.loved-section {
  padding-bottom: 60px;

  /* padding-bottom: 100px; */
}
.loved-div {
}

.loved-title {
  margin-bottom: 74px;
  /* margin-bottom: 91px; */
  font-size: 20px;
}
.loved-title span {
  color: var(--orange-color);
}

.loved-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.loved-item {
}
/* width: calc((100% - 54px) / 3); */
/* background-color: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 100px rgba(17, 17, 17, 0.03);
  border-radius: 15px;
  padding: 56px 24px 24px 24px;
  position: relative;
  margin-bottom: 50px;
} */
.single-item {
  width: 335px;
  height: 275px;
  /* position: relative; */
}

.loved-item {
  height: 200px;
  background-color: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 100px rgba(17, 17, 17, 0.03);
  border-radius: 15px;
  padding: 56px 24px 24px 24px;
  /* padding: 56px 18px 42px 18px; */
  position: relative;
  margin-bottom: 50px;
}
.loved-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.loved-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
  margin-bottom: 24px;
}
.loved-subtitle {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
}

.loved-btn {
  padding: 12px 28px;
  /* padding: 14px 40px; */
  border: 1px solid #fd9222;
  border-radius: 100px;
  cursor: pointer;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}
.loved-btn:hover,
.loved-btn:focus {
  background-color: var(--orange-color);
  color: #fff;
  transition: background-color 300ms linear;
}
/*---------footer-----------*/
.footer {
  background-color: #1e1823;
}
.footer-div {
  width: 100%;
  padding: 32px 20px;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  padding-bottom: 32px;
  margin-bottom: 32px;
}
.footer-contact-wrap {
  margin-right: auto;
}
.footer-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--main-color-white);
  max-width: 300px;
  margin-right: auto;
}
.footer-title span {
  color: var(--orange-color);
}
.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  /* text-align: center; */
  color: #ffffff;
  margin-bottom: 14px;
  margin-top: 32px;
}
.footer-address {
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.footer-nav {
}
.footer-nav-list {
  /* width: 120px; */
  height: 152px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
}
.footer-nav-item {
}
.footer-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.footer-formwrap-div {
  display: flex;
  flex-direction: column;
}
.footer-formbtn-div {
}
.footer-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.footer-input {
  width: 207px;
  height: 45px;
  padding: 14px 24px;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
}
.footer-btn {
  width: 120px;
  height: 45px;
  border-radius: 100px;
  background-color: #fd9222;
  padding: 14px 26px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 24, 35, 0.575);
  position: fixed;
  top: 0;
}
.modal {
  width: 311px;
  height: 535px;
  border-radius: 15px;
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 24px;
}
.modal-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 14px;
  top: 14px;
}
.modal-close-svg {
  stroke: #111;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-title {
  font-size: 20px;
  width: 255px;
  height: 48px;
  text-align: left;
  margin-bottom: 32px;
}
.modal-title span {
  color: var(--orange-color);
}

.modal-form {
  width: 263px;
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--orange-color);
  transition: border-color 300ms linear;
}
.modal-input {
  padding: 14px 18px;
  width: 100%;
  height: 45px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  background-color: transparent;

  margin-bottom: 14px;
  box-shadow: 0px 5.444915294647217px 5.444915294647217px 0px
    rgba(0, 0, 0, 0.03);
}

.modal-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  letter-spacing: -0.36px;
}
.modal-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  letter-spacing: -0.36px;
}
.modal-textarea {
  padding: 14px 18px 60px 18px;
  width: 263px;
  height: 91px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  resize: none;
  margin-bottom: 18px;
}
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--orange-color);
  transition: border-color 300ms linear;
}
.checkbox-div {
  /* width: 263px; */
  /* height: 32px; */
}
.input-checkbox {
}
.text-policy {
  display: flex;
}
.checkbox-text {
  color: rgba(64, 64, 64, 0.6);
  font-size: 12px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

.checkbox-text span {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}
.checkbox-icon {
}
.privacy-link {
  color: var(--orange-color);
  text-decoration: underline;
  margin-left: 32px;
}
.checkbox-text a {
}
.input-checkbox:checked + .checkbox-text span {
  background-color: #fd9222;
  fill: #fff;
}
.modal-btn-send {
  color: #fff;
  width: 93px;
  height: 41px;
  margin-top: 32px;
  /* width: 117px;
  height: 45px; */
  /* padding: 14px 40px; */
  padding: 12px 28px;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
  cursor: pointer;
  display: block;
  margin-right: auto;
}
